body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/147137.jpg');
  background-repeat: no-repeat !important;
  background-size: cover;
}

@media only screen and (max-width: 321px){
  body {
    background-image: url('./assets/147137.jpg');
    background-repeat: no-repeat !important;
    height: 810px;
  }
}
@media only screen and (min-width: 321px){
  body {
    background-image: url('./assets/147137.jpg');
    background-repeat: no-repeat !important;
    height: 810px;
  }
}
@media only screen and (min-width: 375px){
  body {
    background-image: url('./assets/147137.jpg');
  background-repeat: no-repeat !important;
  height: 810px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}